section.youtube
  .flex.flex--center
  
    .col-1
      .video-strip
      
    .col-1.order-first
      p.home-lead.outdented ...and if really pushed will use WordPress.
      a(href="http://youtube.com/devtipsfordesigners").home-cta Watch on YouTube
