// NPM Imports
// @import 'typographic'
@import '../components/rupture-by-jenius/rupture/'
@import 'nib'
@import 'jeet'
@import '../components/typographic/stylus/typographic.styl'
@import '../components/animate.styl/source/base.styl'

// Local Imports
@import 'variables'
@import 'mixins'

// edit()

// ----------------------------------------------

$min-font: 14px

typographic()

// Settings
body
  font-size 14px // Base font
  min-height 100%

// Typography
*
  font-family 'Raleway', 'Helvetica Neue', sans-serif

p
  // font-size 1.2rem
  font-size responsive 16px 26px
  letter-spacing 0.05em
  line-height 1.8em

// Images
img
  max-width 100%

// Active

p a
  text-decoration none
  color forth
  font-weight 500
  border-bottom 3px solid rgba(white, 0)
  transition: 0.7s ease-in-out all;
  &:hover
    border-bottom 2px solid fifth
    color darken(forth, 20)

h2.feat
  font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
  font-weight 200
  color primary
  font-size 52px
  padding 0.5em 0 1em 0
  display block
  text-align center
  overflow hidden
  center(960px)
  +above(600px)
    &:before
      right .5em
      margin-left -50%
    &:before, &:after
      background-color lighten(primary, 20)
      content ""
      display inline-block
      height 1px
      position relative
      vertical-align middle
      width 50%
    &:after
      left .5em
      margin-right -50%

h3.feat
  font-weight 100
  column(1/1)
  font-size 2rem
  text-align center
  color primary
  cf()

.subheader
  font-family 'Raleway', 'Helvetica Neue', sans-serif
  color forth

// h1, h2, h3, h4, h5, h6, ul,
p
  +below(600px)
    padding-left 2rem
    padding-right 2rem
