// Styles just for testing purposes. This files should be deleted before uploading to a live server

html
  // lost-utility edit

.fillercontainer
  max-width 600px
  margin auto

.fillercontainer, .specialities, .testimonials
  lost-utility clearfix

// +below(600px)
//   footer
//     // errorCheck()
//     .footer-bar
//       // errorCheck()
//     .navbar
//       // errorCheck()
//       // cleanup()
//     ul
//       // errorCheck()
//       li
//         // errorCheck()


// Typography

// .subheader
