body
  background white
  color fifth
  &.default
    +above(1300px)
      .logo
        position fixed
        top 200px
.container
  width 90%
  margin auto

article
  padding-top 1rem
  +above(600px)
    padding-top 2rem


// Themes



// Typography
