
.sprite
    font-size: 1em;

.sprite:before
    content: ' ';
    background-image: url("build/assets/img/sprite.svg");
    background-repeat: no-repeat;
    background-size: 149px 149px;
    display: inline-block;

.sprite__kirby_logo copy 2:before
    background-position: 0px 0px;
    width: 149px;
    height: 149px;


// <div class="sprite sprite__kirby_logo copy 2"></div>
