// Colours

primary   = #46629F
secondary = #BF3916
tertery   = #E84E1F
forth     = #B89665
fifth     = #DAB37A
bg        = #E8F3FF


// Typography

// h2
//   font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
//   font-weight 100
//   color primary
//   font-size 52px
//   padding 2em 0
//   display block
//   text-align center
