.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated .hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.animated .infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated .bounceIn,
.animated .bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
.animated .flipOutX,
.animated .flipOutY {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
.widthFull {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.widthSlight {
  width: 80%;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
    scale: 1.2;
  }
  75% {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    scale: 0.4;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
    scale: 1.2;
  }
  75% {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    scale: 0.4;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotatereverse {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotatereverse {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
typographic(),
body {
  font-size: 14px;
  min-height: 100%;
}
* {
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
}
p {
  font-size: responsive 16px 26px;
  letter-spacing: 0.05em;
  line-height: 1.8em;
}
img {
  max-width: 100%;
}
p a {
  text-decoration: none;
  color: #b89665;
  font-weight: 500;
  border-bottom: 3px solid rgba(255,255,255,0);
  -webkit-transition: 0.7s ease-in-out all;
  transition: 0.7s ease-in-out all;
}
p a:hover {
  border-bottom: 2px solid #dab37a;
  color: #7d623a;
}
h2.feat {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica-Neue', Helvetica, Raleway, sans-serif;
  font-weight: 200;
  color: #46629f;
  font-size: 52px;
  padding: 0.5em 0 1em 0;
  display: block;
  text-align: center;
  overflow: hidden;
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
h2.feat:before,
h2.feat:after {
  content: '';
  display: table;
}
h2.feat:after {
  clear: both;
}
@media only screen and (min-width: 600px) {
  h2.feat:before {
    right: 0.5em;
    margin-left: -50%;
  }
  h2.feat:before,
  h2.feat:after {
    background-color: #8399c8;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  h2.feat:after {
    left: 0.5em;
    margin-right: -50%;
  }
}
h3.feat {
  font-weight: 100;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  font-size: 2rem;
  text-align: center;
  color: #46629f;
  *zoom: 1;
}
h3.feat:before,
h3.feat:after {
  content: '';
  display: table;
}
h3.feat:after {
  clear: both;
}
h3.feat:last-child {
  margin-right: 0%;
}
h3.feat:before,
h3.feat:after {
  content: '';
  display: table;
}
h3.feat:after {
  clear: both;
}
.subheader {
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
  color: #b89665;
}
@media only screen and (max-width: 600px) {
  p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
body {
  background: #fff;
  color: #dab37a;
}
@media only screen and (min-width: 1300px) {
  body.default .logo {
    position: fixed;
    top: 200px;
  }
}
.container {
  width: 90%;
  margin: auto;
}
article {
  padding-top: 1rem;
}
@media only screen and (min-width: 600px) {
  article {
    padding-top: 2rem;
  }
}
.btncontainer {
  height: 100px;
  display: block;
  clear: both;
  position: relative;
  margin-top: 2em;
}
.readmore,
.btn {
  text-decoration: none;
  color: #8399c8;
  border: 2px solid #dab37a;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  font-size: 1.6rem;
  text-align: center;
  background-color: #fff;
  box-shadow: -4px 4px 0px #e5caa2;
  padding: 0.5em 2em;
  outline: 2px solid #fff;
  outline-offset: 0px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 600px) {
  .readmore,
  .btn {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .readmore,
  .btn {
    width: 50%;
  }
}
.readmore:hover,
.btn:hover {
  color: #fff;
  background: #dab37a;
  outline: 2px solid #fff;
  outline-offset: 0px;
  border: 2px solid #cf9c52;
  box-shadow: -4px 4px 0px #cf9c52;
}
.readmore:active,
.btn:active,
.readmore:focus,
.btn:focus {
  color: #6a4b1e;
  box-shadow: none;
}
.readmore.pale,
.btn.pale {
  background-color: rgba(255,255,255,0);
  box-shadow: -4px 4px 0px #5f7bb9;
  outline: 2px solid #46629f;
}
form {
  width: 400px !important;
  margin: auto !important;
  overflow: visable !important;
}
form input,
form .message {
  width: 100%;
  overfolw: hidden;
  margin: 1rem 0;
  padding: 0.5em 1em;
  border: 2px solid #dab37a;
  color: #dab37a;
}
form .message {
  height: 200px;
}
footer {
  background-color: #273658;
  height: 4rem;
}
footer .navbar {
  top: 0 !important;
}
footer .navbar ul {
  padding: 1rem 0;
  margin: 0;
  color: #fff;
}
footer .navbar ul li {
  font-size: 1rem;
  color: #fff;
}
footer .navbar ul li a {
  color: #fff;
}
.footerbar {
  height: 100%;
}
.footerbar .navbar {
  height: 100%;
}
.footerbar h3 {
  display: inline;
  width: 50%;
}
.footerbar ul {
  padding-bottom: 0;
}
.menus {
  -webkit-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.logo {
  z-index: 4;
  width: 100%;
  background-color: rgba(70,98,159,0.95);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  height: 200px;
  margin-top: -230px;
}
@media only screen and (min-width: 480px) {
  .logo {
    -webkit-clip-path: polygon(0 100%, 80% 0%, 100% 0, 0 0);
  }
}
@media only screen and (min-width: 600px) {
  .logo {
    position: fixed;
  }
}
.logo svg {
  width: 52px;
  height: 30px;
  position: absolute;
}
@media only screen and (max-width: 480px) {
  .logo svg {
    z-index: 100;
    margin: auto;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 480px) {
  .logo svg {
    z-index: 12;
    bottom: 70px;
    left: 20px;
    width: 105px;
    height: 60px;
  }
}
.logo h1 {
  padding: 0;
  margin: 0;
  z-index: 12;
  position: absolute;
  bottom: 40px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica-Neue', Helvetica;
  padding-left: 20px;
}
@media only screen and (min-width: 480px) {
  .logo h1 {
    padding-left: 0;
    left: 100px;
    font-size: 42px;
    font-weight: 100;
  }
}
.index .logo {
  position: fixed;
  z-index: 4;
  width: 100%;
  background-color: rgba(70,98,159,0.95);
  -webkit-clip-path: polygon(0 100%, 100% 20%, 100% 0, 0 0);
  height: 200px;
}
@media only screen and (min-width: 480px) {
  .index .logo {
    -webkit-clip-path: polygon(0 100%, 100% 20%, 100% 0, 0 0);
  }
}
@media only screen and (min-width: 480px) {
  .index .logo {
    height: 320px;
  }
}
@media only screen and (max-width: 600px) {
  .index .logo {
    position: absolute;
  }
}
@media only screen and (min-width: 600px) {
  .index .logo {
    margin-top: -770px !important;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: 0.9s ease-in-out all;
    transition: 0.9s ease-in-out all;
  }
}
.index .logo.active {
  margin-top: -30px !important;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
@media only screen and (min-width: 480px) {
  .index .logo.active {
    margin-top: 0px;
  }
}
header {
  position: relative;
  z-index: 5;
  background: url("/assets/img/bg-temp.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  height: 560px;
  top: -10px;
}
@media only screen and (min-width: 600px) {
  header {
    top: 0;
    margin-top: -50px;
    height: 390px;
    -webkit-clip-path: polygon(0 100%, 100% 70%, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 70%, 100% 0, 0 0);
    height: 800px;
  }
}
header h2 {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica-Neue', Helvetica, Raleway, sans-serif;
  font-weight: 100;
  color: #fff;
  letter-spacing: -0.02em;
  position: relative;
  top: 170px;
  font-size: 64px;
  text-align: center;
  margin-top: 40px;
}
@media only screen and (min-width: 600px) {
  header h2 {
    font-size: 64px;
    top: 270px;
    text-align: left;
  }
}
header h2 span {
  font-family: 'Baskerville', times, times-roman, serif;
  font-style: italic;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.1em;
  position: relative;
  line-height: 0.7em;
  display: block;
  padding-bottom: 7px;
  top: 6px;
  -webkit-transform: rotate(-10deg) skew(-4deg);
}
@media only screen and (max-width: 600px) {
  header h2 span::after,
  header h2 span::before {
    content: " • ";
  }
}
@media only screen and (min-width: 600px) {
  header h2 span {
    display: inline-block;
    padding-top: 7px;
    top: -10px;
    font-size: 44px;
    border-top: 2px solid #364c7c;
    border-bottom: 2px solid #364c7c;
  }
}
header + h3 {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica-Neue', Helvetica, Raleway, sans-serif;
  font-size: 34px;
  font-weight: 100;
  font-style: italic;
  letter-spacing: -0.02em;
  text-align: right;
  float: right;
  width: 50%;
  z-index: 10;
  margin-top: -30px;
  margin-right: 20px;
  position: relative;
}
header + h3 display block span {
  font-family: 'Baskerville', times, times-roman, serif;
}
header + h3 display block .number {
  font-size: 44px;
}
.headerlogo {
  width: 105px;
  height: 60px;
}
.latestArticlesContainer {
  background-color: #46629f;
  color: #fff;
}
.latestArticles {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.latestArticles:before,
.latestArticles:after {
  content: '';
  display: table;
}
.latestArticles:after {
  clear: both;
}
.latestArticles ul {
  padding: 0;
  margin: 0;
}
.latestArticles ul li {
  list-style: none;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 600px) {
  .latestArticles ul li {
    padding-bottom: 10rem;
  }
}
.latestArticles h3 {
  font-size: responsive 32px 48px;
}
.latestArticles h2,
.latestArticles h3 {
  color: #dab37a;
  letter-spacing: 0.07em;
}
.navlink {
  position: absolute;
  top: 30px;
  left: 1rem;
}
.navlink p {
  border: 1px solid #364c7c;
  font-size: 20px;
  margin-bottom: 0 !important;
  border-radius: 3px;
  padding: 0 0.5em;
  cursor: pointer;
}
.navlink p a {
  color: #364c7c;
  text-decoration: none;
  border-bottom: 0px solid #fff;
  color: #b89665;
}
@media only screen and (min-width: 600px) {
  .navlink {
    display: none;
  }
}
.navbar {
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .navbar {
    height: 440px;
    top: -610px !important;
    padding-top: 12rem;
    padding-bottom: 2rem;
    background-color: RGBA(51, 76, 126, 0.975);
    position: fixed;
    z-index: 10;
  }
}
.navbar.show {
  top: -60px !important;
}
.navbar .active {
  top: -60px !important;
}
.navbar ul {
  padding: 0;
  margin: 0;
  display: block;
}
@media only screen and (min-width: 600px) {
  .navbar ul {
    padding: 2rem;
    margin-top: 50px;
    text-align: right;
  }
}
.navbar ul li {
  display: block;
  font-size: responsive 14px 22px;
  padding-top: 1rem;
}
@media only screen and (max-width: 600px) {
  .navbar ul li {
    width: 100%;
    height: 44px;
    padding: 0.75rem 0;
    text-align: center;
    font-size: 24px;
  }
}
@media only screen and (min-width: 600px) {
  .navbar ul li {
    display: inline;
    padding: 1rem;
  }
}
.navbar a {
  text-decoration: none;
  color: #fff;
  padding-top: 10px;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
}
.navbar a:before,
.navbar a:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.navbar a:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #46629f;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.navbar a:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.index .navbar,
footer .navbar {
  top: 1rem;
}
.index .navbar a,
footer .navbar a {
  color: #fff;
}
.index .navbar a:before,
footer .navbar a:before {
  background: #fff;
}
@media only screen and (max-width: 600px) {
  footer .navbar {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  footer .navbar {
    height: 2rem;
  }
}
.serviceicons {
  display: block;
  width: 100%;
}
.serviceicons section {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.serviceicons section:before,
.serviceicons section:after {
  content: '';
  display: table;
}
.serviceicons section:after {
  clear: both;
}
.serviceicons ul {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  display: block;
}
.serviceicons li {
  list-style: none;
  display: inline;
  padding: 4em;
}
.simply-scroll-container {
  position: relative;
}
.simply-scroll-clip {
  position: relative;
  overflow: hidden;
}
.simply-scroll-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.simply-scroll-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.simply-scroll .simply-scroll-list li {
  float: left;
  width: 150px;
  height: 170px;
  padding: 1.59em;
}
div.simply-scroll-list {
  width: 100%;
}
.specialities ul {
  max-width: 600px;
  margin: auto;
  padding: 0;
}
@media only screen and (max-width: 1000px) {
  .specialities ul {
    max-width: 800px;
  }
}
@media only screen and (min-width: 1000px) {
  .specialities ul {
    max-width: 1400px;
  }
}
.specialities li {
  list-style: none;
  padding: 30px 0;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.specialities li:before,
.specialities li:after {
  content: '';
  display: table;
}
.specialities li:after {
  clear: both;
}
.specialities li:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 480px) {
  .specialities li {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .specialities li:before,
  .specialities li:after {
    content: '';
    display: table;
  }
  .specialities li:after {
    clear: both;
  }
  .specialities li:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  .specialities li:nth-child(2n+1) {
    clear: both;
  }
}
.specialities li p {
  width: 80%;
  display: block;
  margin: auto;
}
.specialities svg {
  width: 160px;
  height: 160px;
  display: block;
  margin: auto;
}
.testimonials {
  background-color: #5f7bb9;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  display: block;
  clear: left;
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  .testimonials {
    -webkit-clip-path: polygon(0 100%, 100% 67%, 100% 0, 0 33%);
            clip-path: polygon(0 100%, 100% 67%, 100% 0, 0 33%);
  }
}
.testimonials h3 {
  color: #364c7c;
}
.testimonials section {
  padding: 2rem 0;
}
@media only screen and (min-width: 600px) {
  .testimonials section {
    padding: 200px 0;
  }
}
.testimonials section p,
.testimonials section h6 {
  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 600px) {
  .testimonials section p,
  .testimonials section h6 {
    *zoom: 1;
    width: auto;
    max-width: 600px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .testimonials section p:before,
  .testimonials section h6:before,
  .testimonials section p:after,
  .testimonials section h6:after {
    content: '';
    display: table;
  }
  .testimonials section p:after,
  .testimonials section h6:after {
    clear: both;
  }
}
.testimonials section p {
  font-family: 'Baskerville', times, times-roman, serif;
  font-style: italic;
  font-size: responsive 18px 28px;
  margin-bottom: 0;
  letter-spacing: 0.015em;
}
.testimonials section .avatar {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: block;
  margin: auto;
}
.testimonials section cite a {
  text-align: center;
  display: block;
  color: #364c7c;
  text-decoration: none;
  padding: 1rem;
}
.whatcanwedo {
  *zoom: 1;
  display: block;
}
.whatcanwedo:before,
.whatcanwedo:after {
  content: '';
  display: table;
}
.whatcanwedo:after {
  clear: both;
}
.whatcanwedo section {
  clear: left;
  padding: 4em 2em 0;
  display: block;
  margin: auto;
  max-width: 1020px;
}
.whatcanwedo img.featured {
  -webkit-clip-path: polygon(0 100%, 100% 79%, 100% 0, 0 21%);
          clip-path: polygon(0 100%, 100% 79%, 100% 0, 0 21%);
  position: relative;
  display: block;
}
@media only screen and (min-width: 600px) {
  .whatcanwedo .left {
    height: 600px;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .whatcanwedo .left:before,
  .whatcanwedo .left:after {
    content: '';
    display: table;
  }
  .whatcanwedo .left:after {
    clear: both;
  }
  .whatcanwedo .left:last-child {
    margin-right: 0%;
  }
}
@media only screen and (min-width: 600px) {
  .whatcanwedo .right {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    height: 300px;
  }
  .whatcanwedo .right:before,
  .whatcanwedo .right:after {
    content: '';
    display: table;
  }
  .whatcanwedo .right:after {
    clear: both;
  }
  .whatcanwedo .right:last-child {
    margin-right: 0%;
  }
}
.whatcanwedo > p {
  padding: 2em;
}
@media only screen and (min-width: 600px) {
  .whatcanwedo > p {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .whatcanwedo > p:before,
  .whatcanwedo > p:after {
    content: '';
    display: table;
  }
  .whatcanwedo > p:after {
    clear: both;
  }
  .whatcanwedo > p:last-child {
    margin-right: 0%;
  }
}
.workedWith {
  *zoom: 1;
}
.workedWith:before,
.workedWith:after {
  content: '';
  display: table;
}
.workedWith:after {
  clear: both;
}
.workedWith ul {
  padding: 0;
  margin: 0;
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.workedWith ul:before,
.workedWith ul:after {
  content: '';
  display: table;
}
.workedWith ul:after {
  clear: both;
}
.workedWith a {
  text-indent: -7777px;
  height: 150px;
  width: auto;
  position: absolute;
  border: 1px solid #008000;
}
.workedWith li {
  padding: 0;
  margin: 0;
  -webkit-transition: 0.9s ease-in-out all;
  transition: 0.9s ease-in-out all;
  height: 150px;
  list-style: none;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.workedWith li:hover {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
.workedWith .boagworld {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  background: url("/assets/img/Boagworld_Logo_grey.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .boagworld:before,
.workedWith .boagworld:after {
  content: '';
  display: table;
}
.workedWith .boagworld:after {
  clear: both;
}
.workedWith .boagworld:last-child {
  margin-right: 0%;
}
.workedWith .boagworld:hover {
  background: url("/assets/img/Boagworld_Logo.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .tijara {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.166666666666664%;
  margin-left: 0%;
  margin-right: 3%;
  background: url("/assets/img/tijaraPages_Logo_grey.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .tijara:before,
.workedWith .tijara:after {
  content: '';
  display: table;
}
.workedWith .tijara:after {
  clear: both;
}
.workedWith .tijara:last-child {
  margin-right: 0%;
}
.workedWith .tijara:hover {
  background: url("/assets/img/tijaraPages_Logo.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .sos {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 19.88888888888889%;
  margin-left: 0%;
  margin-right: 3%;
  background: url("/assets/img/SOS_Logo_grey.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .sos:before,
.workedWith .sos:after {
  content: '';
  display: table;
}
.workedWith .sos:after {
  clear: both;
}
.workedWith .sos:last-child {
  margin-right: 0%;
}
.workedWith .sos:hover {
  background: url("/assets/img/SOS_Logo.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .westmid {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.166666666666664%;
  margin-left: 0%;
  margin-right: 3%;
  background: url("/assets/img/westMid_logo_grey.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .westmid:before,
.workedWith .westmid:after {
  content: '';
  display: table;
}
.workedWith .westmid:after {
  clear: both;
}
.workedWith .westmid:last-child {
  margin-right: 0%;
}
.workedWith .westmid:hover {
  background: url("/assets/img/westMid_Logo.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .pentangle {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  background: url("/assets/img/pentangle_Logo_grey.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .pentangle:before,
.workedWith .pentangle:after {
  content: '';
  display: table;
}
.workedWith .pentangle:after {
  clear: both;
}
.workedWith .pentangle:last-child {
  margin-right: 0%;
}
.workedWith .pentangle:hover {
  background: url("/assets/img/pentangle_Logo.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .orphanaid {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  background: url("/assets/img/orphanAid_Logo_grey.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .orphanaid:before,
.workedWith .orphanaid:after {
  content: '';
  display: table;
}
.workedWith .orphanaid:after {
  clear: both;
}
.workedWith .orphanaid:last-child {
  margin-right: 0%;
}
.workedWith .orphanaid:hover {
  background: url("/assets/img/orphanAid_Logo.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .staremix {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  background: url("/assets/img/staremix_Logo_grey.png") center left no-repeat;
  background-size: 100% auto;
}
.workedWith .staremix:before,
.workedWith .staremix:after {
  content: '';
  display: table;
}
.workedWith .staremix:after {
  clear: both;
}
.workedWith .staremix:last-child {
  margin-right: 0%;
}
.workedWith .staremix:hover {
  background: url("/assets/img/staremix_Logo.png") center left no-repeat;
  background-size: 100% auto;
}
.fillercontainer {
  max-width: 600px;
  margin: auto;
}
.fillercontainer,
.specialities,
.testimonials {
  *zoom: 1;
}
.fillercontainer:before,
.specialities:before,
.testimonials:before,
.fillercontainer:after,
.specialities:after,
.testimonials:after {
  content: '';
  display: table;
}
.fillercontainer:after,
.specialities:after,
.testimonials:after {
  clear: both;
}
/*# sourceMappingURL=styles.css.map */