// Contact Page

// form
form
  width 400px!important
  margin auto!important
  overflow visable!important
  input, .message
    width 100%
    overfolw hidden
    margin 1rem 0
    padding 0.5em 1em
    border 2px solid fifth
    color fifth
  .message
    height 200px
