// Header Section



// svgmask()
//   clip-path polygon(0 10%, 100% 0, 100% 90%, 0% 100%)
//   +above(600px)
//     clip-path polygon(0 100%,100% 67%,100% 0, 0 33%)
//

.menus
  transition all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55)
.logo
  z-index 4
  width 100%
  background-color rgba(70, 98, 159, 0.95)
  -webkit-clip-path polygon(0 0, 100% 0, 100% 80%, 0% 100%)
  +above(480px)
    -webkit-clip-path polygon(0 100%,80% 0%,100% 0,0 0)
  height 200px
  // +above(480px)
  //   height 320px
  margin-top -230px
  +above(600px)
    position fixed
  svg
    width 52px
    height 30px
    // width 100px
    position absolute
    +below(480px)
      z-index 100
      margin auto
      margin-top 20px
    +above(480px)
      z-index 12
      bottom 70px
      left 20px
      width 105px
      height 60px
  h1
    padding 0
    margin 0
    z-index 12
    position absolute
    bottom 40px
    color white
    font-size 30px
    font-weight 400
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica
    padding-left 20px
    +above(480px)
      padding-left 0
      left 100px
      font-size 42px
      font-weight 100

.index
  .logo
    // position fixed
    // z-index 4
    // width 100%
    // background-color rgba(70, 98, 159, 0.95)
    // -webkit-clip-path polygon(0 100%,100% 20%,100% 0, 0 0)
    // +above(480px)
    //   -webkit-clip-path polygon(0 100%,100% 20%,100% 0, 0 0)
    // height 200px
    // +above(480px)
    //   height 320px
    // +below(600px)
      // position absolute
    +above(600px)
      margin-top -770px!important
      opacity 0
      transition: 0.9s ease-in-out all;
    &.active
      margin-top -30px!important
      +above(480px)
        margin-top 0px
      opacity 1

header
  position relative
  z-index 5
  background url('/assets/img/bg-temp.jpg')
  background-size cover
  background-position center
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  height 560px
  top -10px
  +above(600px)
    top 0
    // margin-top -80px
    margin-top -50px
    height 390px
    // background-size cover
    clip-path polygon(0 100%,100% 70%,100% 0, 0 0)
    height 800px
  h2
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
    font-weight 100
    color white
    letter-spacing -0.02em
    position relative
    top 170px
    font-size 64px
    text-align center
    margin-top 40px
    +above(600px)
      font-size 64px
      top 270px
      text-align left
    span
      +below(600px)
        &::after, &::before
          content " • "
      font-family 'Baskerville', times, times-roman, serif
      font-style italic
      font-size 28px
      font-weight 600
      letter-spacing -0.1em
      position relative
      line-height 0.7em
      display block
      padding-bottom 7px
      top 6px
      -webkit-transform rotate(-10deg) skew(-4deg)
      +above(600px)
        display inline-block
        padding-top 7px
        top -10px
        font-size 44px
        border-top 2px solid darken(primary, 10)
        border-bottom 2px solid darken(primary, 10)
  + h3
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
    font-size 34px
    font-weight 100
    font-style italic
    letter-spacing -0.02em
    text-align right
    float right
    width 50%
    z-index 10
    margin-top -30px
    margin-right 20px
    position relative
    display block
      span
        font-family 'Baskerville', times, times-roman, serif
      .number
        font-size 44px

.headerlogo
  width 105px
  height 60px
