.latestArticlesContainer
  background-color primary
  color white

.latestArticles
  lost-center 960px
  ul
    padding 0
    margin 0
    li
      list-style none
      padding-bottom 1rem
      +above(600px)
        padding-bottom 10rem
  h3
    font-size responsive 32px 48px
  h2, h3
    color fifth
    letter-spacing 0.07em
  // img
  //   max-height 300px
