// whatcanwedo
.whatcanwedo
  cf()
  display block
  section
    clear left
    padding 4em 2em 0
    display block
    margin auto
    max-width 1020px
  img.featured
    clip-path polygon(0 100%,100% 79%,100% 0, 0 21%)
    // svgmask()
    position relative
    display block
  .left
    +above(600px)
      height 600px
      column(6/12)
  .right
    +above(600px)
      align(right)
      column(3/12)
      height 300px
  > p
    padding 2em
    +above(600px)
      // float right
      column(4/12)
