.workedWith
  cf()
  ul
    padding 0
    margin 0
    center(1000px)

  a
    text-indent -7777px
    height 150px
    width auto
    position absolute
    // white-space nowrap
    // overflow hidden
    border 1px solid green
  li
    // display inline
    padding 0
    margin 0
    transition: 0.9s ease-in-out all;
    height 150px
    list-style none
    // float left
    // padding 1rem
    // margin 1rem
    // white-space nowrap
    opacity 0.3
    // overflow hidden
    // border 1px solid red
    &:hover
      opacity 1
    // img
    //   // cf()
    //   position relative
    //   max-width 100%
  .boagworld
    column(4/16)
    background url('/assets/img/Boagworld_Logo_grey.png') center left no-repeat
    background-size 100% auto
    &:hover
      background url('/assets/img/Boagworld_Logo.png') center left no-repeat
      background-size 100% auto
  .tijara
    column(3/18)
    background url('/assets/img/tijaraPages_Logo_grey.png') center left no-repeat
    background-size 100% auto
    &:hover
      background url('/assets/img/tijaraPages_Logo.png') center left no-repeat
      background-size 100% auto
  .sos
    column(4/18)
    background url('/assets/img/SOS_Logo_grey.png') center left no-repeat
    background-size 100% auto
    &:hover
      background url('/assets/img/SOS_Logo.png') center left no-repeat
      background-size 100% auto
  .westmid
    column(3/18)
    background url('/assets/img/westMid_logo_grey.png') center left no-repeat
    background-size 100% auto
    &:hover
      background url('/assets/img/westMid_Logo.png') center left no-repeat
      background-size 100% auto
  .pentangle
    column(3/12)
    background url('/assets/img/pentangle_Logo_grey.png') center left no-repeat
    background-size 100% auto
    &:hover
      background url('/assets/img/pentangle_Logo.png') center left no-repeat
      background-size 100% auto
  .orphanaid
    column(4/12)
    background url('/assets/img/orphanAid_Logo_grey.png') center left no-repeat
    background-size 100% auto
    &:hover
      background url('/assets/img/orphanAid_Logo.png') center left no-repeat
      background-size 100% auto
  .staremix
    column(3/12)
    background url('/assets/img/staremix_Logo_grey.png') center left no-repeat
    background-size 100% auto
    &:hover
      background url('/assets/img/staremix_Logo.png') center left no-repeat
      background-size 100% auto
