| --- 
| layout: default 
| ---
h2 About Us
p.meta {{ page.date | date_to_string }}
.post.article
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis explicabo eveniet, dolorum. Cum veritatis obcaecati dolores dolor omnis hic praesentium autem quos quasi iste numquam unde odio quod neque delectus, ea a saepe. Enim veritatis saepe est nemo hic, at natus doloremque id vel cumque.
